<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lv.vndispatchpax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">

        <activity
            android:name=".views.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.ActivityMain"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activity.Login"/>
        <activity android:name=".views.activity.Signup"/>
        <activity android:name=".views.activity.ForgotPassword"/>
        <activity android:name=".views.activity.Home"></activity>
    </application>

</manifest>
